# python directory
__pycache__/
*/__pycache__/

# sphinx doc
sphinx/_build
.idea/
.DS_Store

# Jupyter notebook directory
.ipynb_checkpoints/
examples/.ipynb_checkpoints/

# PyPy Wheel Directory
dist/
build/
hetero2d.egg-info/


