ase==3.17.0
mpmath==1.1.0
pip
seaborn==0.11.0 
ipykernel
numpy==1.16.0
FireWorks==1.9.1
pymatgen==2018.11.30
custodian==2018.8.10
atomate==0.8.4
monty==1.0.3
sphinx==3.0.1
sphinx-rtd-theme==0.5.2
sphinx_autodoc_annotation==1.0.post1
MPInterfaces-Latest==2.0.3
pybtex==0.24.0
Jinja2==2.8.0
